<!DOCTYPE HTML>
<html>
    <head>
        <title>Pyddit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> Pyddit</a>
            </div>
        </nav>
        <div class="container" id="app">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" v-model="type" v-on:keyup.enter="getData">
                            <span class="input-group-btn">
                                <button class="btn btn-success" v-on:click="getData">Get top 10 posts!</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <articles-card :data="subreddit"></articles-card>
            </div>
        </div>
        <script src="{{ url_for('static', filename='node_modules/vue/dist/vue.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/vue-resource/dist/vue-resource.js') }}"></script>
        <script src="{{ url_for('static', filename='js/components.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>
