<!DOCTYPE HTML>
<html>
    <head>
        <title>Pyddit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> Pyddit</a>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Daily Programmer</h3>
                    <div class="card card-block">
                        <h4 class="card-title">#1</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="card card-block">
                        <h4 class="card-title">#2</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="card card-block">
                        <h4 class="card-title">#3</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Learn Python</h3>
                    <div class="card card-block">
                        <h4 class="card-title">#1</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="card card-block">
                        <h4 class="card-title">#2</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="card card-block">
                        <h4 class="card-title">#3</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h3>Python</h3>
                    <div class="card card-block">
                        <h4 class="card-title">#3</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                    <div class="card card-block">
                        <h4 class="card-title">#2</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='node_modules/vue/dist/vue.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/vue-resource/dist/vue-resource.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>
