<!DOCTYPE HTML>
<html>
    <head>
        <title>Pyddit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="stylesheet" href="{{ url_for('static', filename='node_modules/bootstrap/dist/css/bootstrap.min.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/jquery/dist/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <a class="navbar-brand"><i class="glyphicon glyphicon-bullhorn"></i> Pyddit</a>
            </div>
        </nav>
        <div class="container" id="app">
            <div class="row">
                <articles-card :data="python.data" :title="python.title"></articles-card>
                <articles-card :data="dailyProgrammer.data" :title="dailyProgrammer.title"></articles-card>
                <articles-card :data="learnPython.data" :title="learnPython.title"></articles-card>
            </div>
        </div>
        <script src="{{ url_for('static', filename='node_modules/vue/dist/vue.js') }}"></script>
        <script src="{{ url_for('static', filename='node_modules/vue-resource/dist/vue-resource.js') }}"></script>
        <script src="{{ url_for('static', filename='js/components.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html>
